<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Listado de Materias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let materia of materias">
    <ion-card-header>
      <ion-card-title>{{ materia.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Semestre:</strong> {{ materia.semestre }}</p>
      <p><strong>Código:</strong> {{ materia.codigo }}</p>
      <p><strong>Horario:</strong> {{ materia.horario }}</p>
      <p><strong>Observaciones:</strong> {{ materia.observaciones || 'No hay ninguna observación' }}</p>
    </ion-card-content>

    <div class="ion-text-vertical ion-text-right">
      <ion-button class="ion-margin-bottom" [routerLink]="['/mod-materia', materia.codigo]">Modificar Materia</ion-button>
      <ion-button class="ion-margin-bottom" (click)="eliminarMateria(materia.codigo)">Eliminar Materia</ion-button>
      <ion-button class="ion-margin-bottom" >Agregar Notas</ion-button>
    </div>
  </ion-card>
</ion-content>
