<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
      </ion-buttons>
    <ion-title>crearNota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">crearNota</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <form [formGroup]="nota" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-input formControlName="descripcion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nota</ion-label>
      <ion-input formControlName="nota" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de Entrega</ion-label>
      <ion-datetime formControlName="fechaEntrega"></ion-datetime>
    </ion-item>
    <ion-button expand="block" type="submit">Guardar Nota</ion-button>
  </form> -->
  
</ion-content>
