<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Crear Nota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form [formGroup]="notaForm" (ngSubmit)="submitNota()">
    <ion-item>
      <ion-label position="floating">Descripción:</ion-label>
      <ion-input formControlName="descripcion" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nota:</ion-label>
      <ion-input formControlName="nota" type="number" required></ion-input>
    </ion-item>
    <ion-item *ngIf="notaForm.get('nota')?.invalid && (notaForm.get('nota')?.dirty || notaForm.get('nota')?.touched)">
      <ion-label color="danger">Por favor, ingresa una nota válida (entre 0 y 5 con hasta dos decimales separados por coma).</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Observaciones:</ion-label>
      <ion-textarea formControlName="observaciones" required></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de Entrega:</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" formControlName="fechaEntrega"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-button type="submit" [disabled]="!notaForm.valid">Guardar Nota</ion-button>
  </form>
</ion-content>
